:root /*基本カラー*/
{
  --main-text: #000;
  --main-bg: #fff;
}
@media (prefers-color-scheme: dark) /*ダークモード(設定から判定)*/
{
  :root 
  {
    --main-text: #fff;
    --main-bg: #000;
  }
}
body /*通常色*/
{
  color: var(--main-text);
  background-color: var(--main-bg);
}
.lighttheme/*チェックボックスで*/
{
  background: #efefff;
  color: #000030;
}
.darktheme
{
  background: #000030;
  color: #efefff
}