body /*root*/
{
  margin-top: 105px;
  transition: .5s;
  color: rgb(0,0,30);
  background-color: rgb(240,240,255);
}

@media (prefers-color-scheme: dark) /*ダークモードの場合(設定から判定)*/
{
  body
  {
    color: rgb(240,240,255);
    background-color: rgb(0,0,30);
  }
}





.LightModeColor/*チェックボックスでbodyに上書き*/
{
  background: rgb(240,240,255);
  color: rgb(0,0,30);
}
.DarkModeColor
{
  background: rgb(0,0,30);
  color: rgb(240,240,255)
}
.Twitter_Light_UnView
{
  display: none;
}
.Twitter_Dark_UnView
{
  display: none;
}




.header/*ヘッダー*/
{
  
  margin-top: 2px;
  position: fixed;/*常時上に固定*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgb(30,30,30);
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;/*最前面 !一番大きく*/
}
.header_inner/*ヘッダー内部*/
{
  max-width: 1152px;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(30,30,30);

}
.header_logo
{
  flex: none;
  width: 150px;
  height: 75px;
  background: rgb(30,30,30);
}
.header_navgroup
{
  margin-left: auto;
  display: flex;
  flex: none;
  background: rgb(30,30,30);
}
.header_navitem
{
  text-decoration: none;
  margin: 0px 15px;
  font-size: 30px;
  color: #fff;
  background: rgb(30,30,30);
}


.DarkmodeSwitch /*root*/
{
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  width: 180px;
  height: 10;
}
.SwitchInput 
{
  width: 0;/*チェックボックスを消す*/
  cursor: pointer;
}
.SwitchLabel/*後ろのやつ*/
{
  width: 50px;
  height: 25px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  transition: .5s;
  box-sizing: border-box;
  cursor: pointer;
}

.SwitchLabel:after/*前のやつ*/
{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  left: 0;
  z-index: 2;
  background-image: url("img/Icon_sun.jpg");
  background-size: contain;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: .5s;
}

.SwitchInput:checked + .SwitchLabel
{
  background-color: rgb(80, 240, 80);
}

.SwitchInput:checked + .SwitchLabel:after /*ボタン押下で右に移動*/
{
  left: 25px;
  background-image: url("img/Icon_moon.jpg");
}
.NowTimeDisplay
{  
  margin-top: 4px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #202020;
  width: 180px;
  text-align: center;
}